$grayf2: #f2f2f2;
$red: #d45246;

/* font */
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.main {
  font-family: 'paybooc-Medium';
  height: 100%;
  min-height: 100vh;
}

.main_banner_container {
  height: 440px;
}

.page-container {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin: 30px auto 0;
  overflow: hidden;
  font-family: paybooc-Medium;
  justify-content: space-between;
}

/* table */
.table {
  width: 910px;
  margin: 10px auto 30px;
  color: #454851;
  text-align: center;
  border-collapse: collapse;
  border-top: 3px solid $red;
  border-bottom: 2px solid #999;

  thead {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
  }

  tbody {
    tr {
      height: 50px;
      font-size: 12px;
      border: 1px solid #ddd;
      border-left: 0;
      border-right: 0;
      &:hover {
        background-color: #fff7f7;
      }
    }
    td {
      vertical-align: middle;
      line-height: 20px;
    }
  }
}

.bx-wrapper {
  position: relative;
  height: 440px;
  width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(53, 53, 104, 0.281) 0px 3px 5px 1px,
    rgba(0, 0, 0, 0.192) 0px 1px 1px 0px;
}

.slick-next:before,
.slick-prev:before {
  content: '' !important;
}

/* main_cont1 */

/* notice */
.notice_wrap {
  position: relative;
  float: left;
  width: 810px;
  height: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.notice_wrap .notice {
  position: relative;
  font-family: 'BMJUA';
  font-size: 36px;
  color: $red;
  padding: 20px 70px 0;
}
.notice_wrap .notice::after {
  position: absolute;
  content: url(../../../public/images/board_underline.png);
  top: 18px;
  left: 6px;
}
.notice_wrap .notice_list {
  height: 174px;
  margin: 35px 23px 25px;
  color: #454851;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notice_wrap .notice_list li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 20px 0 0;
  background-color: #454851;
  border-radius: 50%;
}
.notice_wrap .notice_list li a {
  display: inline-block;
}
.notice_wrap .notice_list li span {
  color: #5d6270;
  font-size: 14px;
  float: right;
}
.notice_wrap .notice_more {
  position: absolute;
  top: 15px;
  right: 30px;
  background-image: url(../../../public/images/more.png);
  width: 35px;
  height: 35px;
  text-indent: -9999px;
  display: block;
}
/* quickbtn_wrap */
.quickbtn_wrap {
  float: right;
  width: 369px;
  height: 300px;
}
/* .quickbtn_wrap::after {clear: both; content: ''; display: block;} */
.quickbtn_wrap li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #454851;
}
.quickbtn_wrap li a:hover {
  font-weight: 900;
  color: $red;
}
.quickbtn_wrap .quickbtn1::before {
  background: url(../../../public/images/quick_btns_01.png) no-repeat;
  content: '';
  display: inline-block;
  width: 100px;
  height: 110px;
  overflow: hidden;
  margin-bottom: 8px;
}
.quickbtn_wrap a:hover::before {
  background-position: -100px 0;
}
.quickbtn_wrap .quickbtn1 {
  margin: 0 80px 26px 53px;
  float: left;
}
.quickbtn_wrap .quickbtn2::before {
  background: url(../../../public/images/quick_btns_02.png) no-repeat;
  content: '';
  display: inline-block;
  width: 100px;
  height: 110px;
  overflow: hidden;
  margin-bottom: 8px;
}
.quickbtn_wrap .quickbtn2 {
  float: left;
}
.quickbtn_wrap .quickbtn3::before {
  background: url(../../../public/images/quick_btns_03.png) no-repeat;
  content: '';
  display: inline-block;
  width: 100px;
  height: 110px;
  overflow: hidden;
  margin-bottom: 8px;
}
.quickbtn_wrap .quickbtn3 {
  clear: both;
  float: left;
  margin: 0 80px 0 53px;
}
.quickbtn_wrap .quickbtn4::before {
  background: url(../../../public/images/quick_btns_04.png) no-repeat;
  content: '';
  display: inline-block;
  width: 100px;
  height: 110px;
  overflow: hidden;
  margin-bottom: 8px;
}
.quickbtn_wrap .quickbtn4 {
  float: left;
}

/* complain_wrap */
.complain_wrap {
  width: 414px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  float: left;
}
.complain_wrap .click_on {
  display: block;
}
.complain_wrap .click_off {
  display: none;
}
.complain_wrap ul {
  width: 100%;
  height: 85px;
}
.complain_wrap ul li {
  float: left;
  width: 50%;
  height: 85px;
  font-family: 'BMJUA';
  font-size: 36px;
  text-align: center;
  line-height: 85px;
  background-color: #454851;
  height: 85px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.complain_wrap ul li:hover {
  cursor: pointer;
  background-color: #fff;
  height: 85px;
  color: #454851;
  box-shadow: none;
}
.complain_wrap div {
  position: relative;
  height: 215px;
}
.complain_wrap #tab-1 img {
  margin: 20px 60px 40px 40px;
  float: left;
}
.complain_wrap #tab-2 img {
  margin: 43px 85px 20px 40px;
  float: left;
}
.complain_wrap #tab-1 p {
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  height: 128px;
  padding: 65px 0;
  box-sizing: border-box;
}
.complain_wrap #tab-2 p {
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  height: 128px;
  padding: 45px 0;
  box-sizing: border-box;
}
.complain_wrap div span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}
.complain_wrap div span a {
  color: #adadad;
  font-size: 14px;
}
.complain_wrap div span a:hover {
  color: $red;
  font-weight: 900;
}
.complain_wrap div span a::after {
  content: url(../../../public/images/quick_arrow.png);
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.tab-content {
  display: none;
}
.tab-content.current {
  display: inherit;
}
ul.tabs li.current {
  background: #ffffff;
  color: #454851;
  box-shadow: none;
}

/* contact_wrap */
.contact_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 34px 54px;
  box-sizing: border-box;
}
.contact_wrap h3 {
  font-family: 'BMJUA';
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.post-talk {
  display: block;
  text-align: center;
}
.contact__number {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
.contact__number::after {
  content: '(발신자 부담)';
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact__work {
  text-align: center;
}
.contact__work span {
  width: 50px;
  text-align: justify;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
/* findpost_wrap */
.findpost_wrap {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 349px;
  float: left;
}
.findpost_wrap h3 {
  color: #454851;
  font-size: 30px;
  font-family: 'BMJUA';
  text-align: center;
  margin-top: 22px;
  margin-bottom: 12px;
}
#map {
  width: 330px;
  height: 176px;
  margin: auto;
}
.findpost_btn {
  width: 150px;
  height: 35px;
  border-radius: 50px;
  margin: 15px auto 0;
  font-size: 16px;
  background-color: #eeba4c;
  color: #fff;
  text-align: center;
  line-height: 35px;
  display: block;
  border: none;
  box-shadow: 1px 3px 0 rgb(136 136 136);
  cursor: pointer;
  font-family: 'paybooc-Medium';
}
.findpost_btn:active {
  width: 150px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #b1862b;
}

/* 추가 css */
.user_name--li::after {
  content: '|';
  margin-left: 15px;
  font-weight: bold;
  color: $red;
}
.user_name--li {
  font-weight: bold;
}
/* 추가 css */

/* 지역 선택 */
.postal_search_wrap {
  width: 910x;
  height: 230px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #eee;
}
.postal_search_wrap a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 18px;
  color: #454851;
  text-align: center;
  box-shadow: 2px 2px 0 rgba(136, 136, 136, 0.377);
  box-sizing: border-box;
}
.postal_search_wrap a:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #f7afb9;
}
.postal_search_wrap ul {
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.postal_search_wrap ul li {
  margin-bottom: 10px;
}

/* search_box */
.search_wrap {
  text-align: center;
}
.search_input_wrap input {
  width: 350px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  line-height: 30px;
  font-family: 'paybooc-Medium';
  box-sizing: border-box;
}
.search_input_wrap input:focus {
  border: 1px solid $red;
  transition: all 0.3s;
}
.search_input_wrap button {
  background: $red;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: 'paybooc-Medium';
  line-height: 24px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 0 rgb(136 136 136);
  cursor: pointer;
}
.search_input_wrap button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #a13329;
}
.search_wrap select {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-family: 'paybooc-Medium';
  margin-right: 5px;
  padding: 0px 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: url('../../../public/images/toggle_arrow.png') no-repeat 95% 50%;
  background-size: 15%;
  appearance: none;
  color: #454851;
}
.search_wrap select:focus-visible {
  outline: 1px solid $red;
}

.introduce {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.top_util_section {
  height: 30px;
}
.total_page {
  float: left;
  line-height: 30px;
}
.total_page span {
  color: $red;
  font-weight: bold;
}
.search_wrap {
  float: right;
}
.search_wrap select,
.search_wrap div {
  float: left;
  width: 230px;
}
.search_input_wrap input {
  width: 190px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  line-height: 30px;
  font-family: 'paybooc-Medium';
  box-sizing: border-box;
}
.search_input_wrap input:focus {
  border: 1px solid $red;
  transition: all 0.3s;
}
.search_input_wrap button {
  background: $red;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: 'paybooc-Medium';
  line-height: 24px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 0 rgb(136 136 136);
  cursor: pointer;
}
.search_input_wrap button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #a13329;
}
.search_wrap select {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-family: 'paybooc-Medium';
  margin-right: 5px;
  padding: 0px 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: url('../../../public/images/toggle_arrow.png') no-repeat 95% 50%;
  background-size: 15%;
  appearance: none;
  color: #454851;
}
.search_wrap select:focus-visible {
  outline: 1px solid $red;
}

table.notice_table {
  width: 910px;
  margin: 10px auto 30px;
  text-align: center;
  border-collapse: collapse;
  border-top: 3px solid $red;
  border-bottom: 2px solid #999;
  color: #454851;
  line-height: 50px;
}
.notice_table tr {
  height: 50px;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
}

.notice_table tbody tr td:nth-child(3) {
  text-align: left;
  padding: 0 15px;
}
thead {
  font-size: 18px;
}
tbody tr:hover {
  background-color: #fff7f7;
}

.page_list {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  align-items: center;
}
.page_prev {
  float: left;
  font-size: 20px;
  color: $red;
}
.page_next {
  font-size: 20px;
  color: $red;
}

.page_list .page_num {
  float: left;
  font-size: 18px;
}
.page_num li {
  float: left;
  margin: 0 10px;
}
.writing {
  display: flex;
  justify-content: center;
}
.writing a {
  background: #454851;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: 'paybooc-Medium';
  line-height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 0 rgb(136 136 136);
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  width: 200px;
  display: block;
}
.writing a:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #6a6e7c;
}

/* 민원 form */
.complain_form {
  width: 900px;
  height: 680px;
  border-radius: 5px;
  background: #454851;
  padding: 30px 25px;
  margin: 0 auto 50px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  font-family: 'paybooc-Medium';

  &::after {
    content: '';
    position: absolute;
    left: -165px;
    top: 405px;
    width: 213px;
    height: 327px;
    background: url('../../../public/images/char.png') no-repeat;
  }
}
.complain_form fieldset {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 700px;
  min-width: 500px;
  height: 618px;
  padding: 20px;
  margin-left: auto;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.complain_form label {
  width: 120px;
  text-align: left;
  line-height: 30px;
  color: #fff;
  position: absolute;
  left: 37px;
  display: block;
  font-family: 'BMJUA';
  font-size: 25px;
}
.complain_form input {
  width: 560px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  color: #454851;
  font-size: 14px;
  font-family: 'paybooc-Medium';
  border: 1px solid #ced4da;
  box-shadow: 2px 2px 0 rgba(136, 136, 136, 0.377);
  box-sizing: border-box;
}
.complain_form input:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.complain_form input:focus {
  border: 2px solid #858585;
}
.complain_form textarea {
  width: 560px;
  height: 380px;
  resize: none;
  box-sizing: border-box;
  color: #454851;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgba(136, 136, 136, 0.377);
  font-family: 'paybooc-Medium';
}
.complain_form textarea:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.complain_form textarea:focus {
  outline: 2px solid #858585;
}

span.add_desc {
  font-size: 12px;
  color: #999;
  padding-top: 2px;
  margin-left: 10px;
}
// .complain_form li:nth-of-type(4) label {
//   top: 585px;
// }
.all_input_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  > li {
    display: flex;
  }
}
/* select */
.all_input_wrap select {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-family: 'paybooc-Medium';
  margin-right: 5px;
  padding: 0px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background: url('../../../public/images/toggle_arrow.png') no-repeat 95% 50%;
  background-size: 15%;
  appearance: none;
  color: #454851;
  box-shadow: 2px 2px 0 rgba(136, 136, 136, 0.377);
}
.all_input_wrap select:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.all_input_wrap select:focus-visible {
  outline: 2px solid #858585;
}
/* select */

/* 완료 버튼 */
.btn_wrap {
  width: 910px;
  height: 51px;
  margin: 50px auto 0;
}
button.submit_complain {
  font-family: 'BMJUA';
  width: 235px;
  height: 51px;
  margin: 0 auto;
  background: #eeba4c;
  font-size: 25px;
  line-height: 51px;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px 0 rgb(136 136 136);
  cursor: pointer;
}
button.submit_complain:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #b1862b;
}

/* background: $red;
background-color: #a13329; */

/* 민원신고 폼 - 끝 */

/* input[tpye="flie"] {
  color: #a13329;
} */

/* 로그인 페이지 */
section.login_page {
  width: 1200px;
  height: 630px;
  margin: 40px auto 88px;
}

form.user_login_part {
  width: 595px;
  height: 630px;
  border-radius: 5px;
  background: #fff;
  padding: 30px 65px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login_page_legend {
  font-size: 30px;
  color: #454851;
  width: 230px;
  height: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.login_desc,
.creat_account p {
  font-size: 16px;
  color: #272343;
  text-align: center;
}
.user_login_part .login_desc {
  margin-bottom: 40px;
}

.fa-key,
.fa-user {
  background: #d45246;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.u_id_label,
.pwd_label {
  display: none;
}

.u_id_wrap,
.pwd_wrap {
  width: 370px;
  height: 50px;
  margin: 0 auto 30px;
}
.user_login_button {
  width: 370px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background: #d45246;
  border-radius: 5px;
  letter-spacing: 5px;
  text-indent: 5px;
  margin: 20px auto 10px;
  display: block;
  border: none;
  box-shadow: 1px 2px 0 rgb(136 136 136);
  font-family: 'paybooc-Medium';
  cursor: pointer;
}
.kakao_btn {
  background: #eeba4c;
}
.user_login_button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background-color: #a13329;
}
.kakao_btn:active {
  background-color: #b1862b;
}
p.u_id_wrap input,
p.pwd_wrap input {
  box-sizing: border-box;
  width: 320px;
  height: 50px;
  padding: 15px 15px;
  outline: 0px;
  box-shadow: none;
  border: 1px solid #ced4da;
  border-radius: 0 5px 5px 0;
  float: right;
  font-size: 18px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

div.creat_account {
  border-top: 1px solid #9c9fa9;
  margin-top: 20px;
  padding-top: 20px;
}
.creat_account_btn {
  width: 370px;
  height: 40px;
  font-size: 18px;
  color: #454851;
  background: #fff;
  border-radius: 5px;
  letter-spacing: 5px;
  text-indent: 5px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ced4da;
  text-align: center;
  line-height: 40px;
  box-shadow: 1px 2px 0 rgb(136 136 136);
  font-family: 'paybooc-Medium';
  cursor: pointer;
}
.creat_account_btn:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  background: #494b4d79;
}

/* checkbox */
div.login_option {
  width: 360px;
  height: 23px;
  margin: 0 auto;
  font-size: 15px;
}
.login_option input[type='checkbox'] {
  display: none;
}
/* 체크 안된상태 */
.login_option input[type='checkbox'] + label {
  display: block;
  width: 100px;
  line-height: 23px;
  color: #272343;
  text-align: right;
  background: url('../../../public/images/checkbox.png') left center no-repeat;
  float: left;
}
/* 체크된상태 */
.login_option input[type='checkbox']:checked + label {
  background: url('../../../public/images/checked.png') left center no-repeat;
}
/* 아이디 비번 찾기 */
.find_account a {
  color: #5a5959;
}
.find_account a:hover {
  font-weight: 900;
}
.find_account a:nth-child(2)::before {
  content: ' | ';
}
.find_account {
  float: right;
  line-height: 23px;
}

/* 에러메세지 */
.err_id {
  display: block;
  width: 360px;
  color: #e73a38;
  font-weight: bold;
  font-size: 13px;
  height: 15px;
  line-height: 15px;
  margin: 0 auto;
  padding: 8px 0 0 50px;
}
.err_pwd {
  display: block;
  width: 360px;
  color: #e73a38;
  font-weight: bold;
  font-size: 13px;
  height: 15px;
  line-height: 15px;
  margin: 0 auto;
  padding: 8px 0 0 50px;
}
