.cont_container {
  overflow: visible;
  margin-bottom: 30px;
}
/* common에서 다른것 */

.cont_container h3 {
  font-size: 30px;
  color: #454851;
  text-align: center;
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 45px;
}
